
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/anasayfa.css" rel="stylesheet" />
</head>
<body>
    <div class="box"> 
        <div class="boxUst" >
            <div class="isim" style="float:left;height:50px;width:250px;">
                <a href="">HomePage</a>
            </div>
            <div class="isim" style="float:left;height:50px;width:250px;">
                <a href="/login">Login</a>
            </div>
        </div>
       <div class="kutuGovde" >

           <div class="sol"></div>
           <div class="sag">
               <div class="sagBaslik"></div>
               <div class="sagIcerik"></div>
           </div>
       </div>
         

        <div class="alt"></div>
    </div>
    
</body>
</html>
